@media all and (display-mode: fullscreen) {
  body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

}


main {
   flex: 1 0 auto;
}


/* rosa #FF40AE
azul #25EDFF
azul escuro #09A4B3
pastel #CCB30A
*/
.borda{
  	border-radius: 3px;
  }




.altura-div{
  min-height: 130vw;
}
.altura-minima{
  min-height: 80vw;
}

.container-fluid{
	background-color: #25EDFF;
}
.menu{
  background-color: #FF40AE;
}
.pastel{
  background-color: #CCB30A;
}
.cinza{
  background-color: #E8DFC3;
}
.verde{
  background-color: #00CC0E;
}
.pretoFraco{
	background-color: #242526;
}
.preto{
	background-color: black;
}
footer{
	background-color: #4371E8;

}
.add-button {
  position: absolute;
  top: 1px;
  left: 1px;
}
.marginButton{

	margin-top: 1.6rem;
}
.marginButton2{

	margin-bottom: 1.4rem;
}
#scroll{
	overflow-y: scroll;
    height: 230px;
    resize: none;
    transform-origin: 50% 50%; 
    transform: rotate(180deg); 
    direction: rtl;
    text-align: left;
}

#messages{
	transform: rotate(180deg);

}
#fontB{
	
	font-weight: bold;
}
